@import "./block";
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
  padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

body {
  background: #fbf8ec;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 500px;

  nav {
    position: fixed;
    display: flex;
    margin-top: -7px;
    margin-left: -10px;
    width: 105%;
    height: 70px;
    box-shadow: 0px 2px 10px #000;
    background-color: #fff;
    .nav_logo {
      display: flex;
      width: 20%;
      height: 100%;
      //   border: 1px solid;
      a {
        text-decoration: none;
        display: flex;
        color: black;
        column-gap: 20px;
        font-family: "Rubik", sans-serif;
      }
      img {
        margin-top: 15px;
        margin-left: 50px;
        width: 50px;
        height: 42px;
      }
    }
    .nav_list {
      display: flex;
      width: 80%;
      height: 100%;
      //   border: 1px solid;
      .menu {
        display: flex;
        margin-left: 40px;
        margin-top: 15px;
        width: 140px;
        gap: 8px;
        height: 40px;
        border-radius: 4px;
        border: none;
        background: #70c05b;
        cursor: pointer;
        .hamburger {
          margin-left: 8px;
          margin-top: 8px;
          width: 24px;
          height: 24px;
        }
        p {
          margin-top: 5px;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
          margin-left: 10px;
          color: #fff;
          cursor: pointer;
          font-family: "Rubik", sans-serif;
        }
      }
      .input_search {
        padding-left: 10px;
        position: relative;
        margin-left: 16px;
        margin-top: 13px;
        width: 344px;
        height: 40px;
        border-radius: 4px;
        border: 1px solid #70c05b;
        outline: none;
        font-size: 18px;
        font-family: "Rubik", sans-serif;
      }
      .search {
        position: absolute;
        margin-left: -30px;
        margin-top: 25px;
        width: 24px;
        height: 24px;
      }
      .izbrannoe {
        img {
          margin-top: 10px;
          margin-left: 70px;
          width: 24px;
          height: 24px;
        }
        p {
          margin-top: -1px;
          margin-left: 40px;
          font-family: "Rubik", sans-serif;
        }
      }
      .producti {
        img {
          margin-top: 10px;
          margin-left: 50px;
        }
        p {
          margin-top: -1px;
          margin-left: 24px;
          font-family: "Rubik", sans-serif;
        }
      }
      .korzinka {
        img {
          margin-left: 45px;
          margin-top: 8px;
        }
        p {
          margin-top: -4px;
          margin-left: 37px;
          font-family: "Rubik", sans-serif;
        }
      }
      .profile {
        display: flex;
        margin-top: 15px;
        margin-left: 40px;
        .man {
          width: 40px;
          height: 40px;
        }
        p {
          margin-top: 5px;
          margin-left: 5px;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
          font-family: "Rubik", sans-serif;
        }
        .down {
          width: 24px;
          height: 24px;
          margin-left: 15px;
          margin-top: 5px;
        }
      }
    }
  }
  .header_hero {
    padding-top: 65px;
    display: flex;
    margin-top: 5px;
    width: 100%;
    height: 200px;
    background-image: url(../images/gero_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    img {
      margin-left: 200px;
    }
    h1 {
      margin-top: 60px;
      color: #414141;
      text-align: center;
      font-family: "Rubik", sans-serif;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;
    }
  }
}

.section_1 {
  margin-top: -50px;
  width: 95%;
  height: 500px;

  .vse_produkti {
    display: flex;
    h2 {
      margin-top: -10px;
      color: #414141;
      font-family: "Rubik", sans-serif;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;
    }
    a {
      display: flex;
      text-decoration: none;
    }
    p {
      margin-top: 5px;
      margin-left: 900px;
      font-family: "Rubik", sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      color: #606060;
    }

    img {
      margin-top: 5px;
      width: 24px;
      height: 24px;
    }
  }
  .cards_1 {
    display: flex;
    column-gap: 40px;
    .card_1_1 {
      padding: 5px;
      width: 272px;
      height: 410px;
      border-radius: 10px;
      background: #fff;
      cursor: pointer;
      box-shadow: 1px 10px 10px 5px rgba(0, 0, 0, 0.1);
      img {
        border-radius: 10px;
        width: 272px;
        height: 160px;
      }
      .scene {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
          color: #414141;
          font-family: "Rubik", sans-serif;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: 150%;
        }
      }
      .karta {
        display: flex;
        margin-top: -30px;
        justify-content: space-between;
        align-items: center;
        p {
          color: #bfbfbf;
          font-family: "Rubik", sans-serif;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
        }
      }
      h3 {
        color: #414141;
        font-family: "Rubik", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
      }
      .rating {
        margin-top: -10px;
        width: 256px;
        height: 16px;
      }
      .korzina {
        width: 256px;
        height: 40px;
        margin-top: 10px;
        margin-left: 8px;
        border-radius: 4px;
        border: 1px solid #70c05b;
        cursor: pointer;
        gap: 8px;
        color: #70c05b;
        font-family: "Rubik", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
      }
      .korzina:hover {
        background: #f63;
        color: #fff;
        border: none;
      }
    }
    .card_1_1:hover {
      box-shadow: 1px 10px 10px 5px rgba(255, 102, 51, 0.2);
    }
  }
}

.section_2 {
  margin-top: 120px;
  width: 95%;
  height: 500px;
  // border: 1px solid;
  .novinki {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      margin-top: -10px;
      color: #414141;
      font-family: "Rubik", sans-serif;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;
    }
    a {
      display: flex;
      text-decoration: none;
      p {
        margin-top: -10px;
        color: #606060;
        font-family: "Rubik", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
      }
      img {
        margin-top: -10px;
        width: 24px;
        height: 24px;
      }
    }
  }
  .cards_2 {
    display: flex;
    column-gap: 40px;
    .card_1_1 {
      padding: 5px;
      width: 272px;
      height: 390px;
      border-radius: 10px;
      background: #fff;
      cursor: pointer;
      box-shadow: 1px 10px 10px 5px rgba(0, 0, 0, 0.1);
      img {
        border-radius: 10px;
        width: 272px;
        height: 160px;
      }
      .scene {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
          color: #414141;
          font-family: "Rubik", sans-serif;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: 150%;
        }
      }
      h3 {
        color: #414141;
        font-family: "Rubik", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
      }

      .rating {
        margin-top: -10px;
        width: 256px;
        height: 16px;
      }
      .korzina {
        width: 256px;
        height: 40px;
        margin-top: 10px;
        margin-left: 8px;
        border-radius: 4px;
        border: 1px solid #70c05b;
        cursor: pointer;
        gap: 8px;
        color: #70c05b;
        font-family: "Rubik", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
      }
      .korzina:hover {
        background: #f63;
        color: #fff;
        border: none;
      }
    }
    .card_1_1:hover {
      box-shadow: 1px 10px 10px 5px rgba(255, 102, 51, 0.2);
    }
  }
}

.section_3 {
  margin-top: 120px;
  width: 95%;
  height: 500px;
  .pokupali {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      margin-top: -10px;
      color: #414141;
      font-family: "Rubik", sans-serif;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;
    }
    a {
      display: flex;
      text-decoration: none;
      p {
        margin-top: -10px;
        color: #606060;
        font-family: "Rubik", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
      }
      img {
        margin-top: -10px;
        width: 24px;
        height: 24px;
      }
    }
  }
  .cards_3 {
    display: flex;
    column-gap: 40px;
    .card_1_1 {
      padding: 5px;
      width: 272px;
      height: 390px;
      border-radius: 10px;
      background: #fff;
      cursor: pointer;
      box-shadow: 1px 10px 10px 5px rgba(0, 0, 0, 0.1);
      img {
        border-radius: 10px;
        width: 272px;
        height: 160px;
      }
      .scene {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
          color: #414141;
          font-family: "Rubik", sans-serif;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: 150%;
        }
      }
      h3 {
        color: #414141;
        font-family: "Rubik", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
      }

      .rating {
        margin-top: -10px;
        width: 256px;
        height: 16px;
      }
      .korzina {
        width: 256px;
        height: 40px;
        margin-top: 10px;
        margin-left: 8px;
        border-radius: 4px;
        border: 1px solid #70c05b;
        cursor: pointer;
        gap: 8px;
        color: #70c05b;
        font-family: "Rubik", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
      }
      .korzina:hover {
        background: #f63;
        color: #fff;
        border: none;
      }
    }
    .card_1_1:hover {
      box-shadow: 1px 10px 10px 5px rgba(255, 102, 51, 0.2);
    }
  }
}

.section_4 {
  margin-top: 120px;
  width: 95%;
  height: 350px;
  h2 {
    margin-top: -10px;
    color: #414141;
    font-family: "Rubik", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
  }
  .cards_4 {
    display: flex;
    column-gap: 80px;
    .card_4_1 {
      display: flex;
      width: 584px;
      height: 200px;
      background: #e5ffde;
      cursor: pointer;
      border-radius: 10px;
      box-shadow: 0px 8px 47px 0px #e5ffde;
      .karta {
        margin-top: -10px;
        margin-left: 40px;
        width: 258px;
        h3 {
          color: #414141;
          font-family: "Rubik", sans-serif;
          font-size: 24px;
          font-style: normal;
          font-weight: 800;
          line-height: 150%;
        }
        p {
          color: #414141;
          font-family: "Rubik", sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
        }
      }
      .mini-karta {
        margin-top: 20px;
        margin-left: 21px;
        width: 215px;
        height: 148px;
      }
      .mini-kart {
        margin-top: 20px;
        margin-left: 21px;
        width: 193px;
        height: 188px;
      }
    }
    .card_4_1:hover {
      background: #fcd5ba;
      box-shadow: 0px 8px 47px 0px rgba(200, 90, 53, 0.51);
    }
  }
}

.section_5 {
  margin-top: 120px;
  width: 95%;
  height: 550px;
  h2 {
    color: #414141;
    font-family: "Rubik", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
  }
  .address {
    display: flex;
    column-gap: 24px;
    button {
      width: 106px;
      height: 32px;
      border: none;
      border-radius: 4px;
      background: #b6b4b1;
      font-family: "Rubik", sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      cursor: pointer;
    }
    button:hover {
      background: #70c05b;
    }
  }
  .map {
    margin-top: 24px;
    width: 1208px;
    height: 354px;
    cursor: pointer;
  }
}

.section_6 {
  margin-top: 120px;
  width: 95%;
  height: 550px;
  .maqolalar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      column-gap: 10px;
      text-decoration: none;
      display: flex;
    }
    h2 {
      margin-left: 40px;
      color: #414141;
      font-family: "Rubik", sans-serif;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;
    }
    p {
      color: #414141;
      font-family: "Rubik", sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }
    img {
      margin-top: 15px;
      width: 24px;
      height: 24px;
    }
  }
  .card_maqola {
    display: flex;
    margin-left: 40px;
    column-gap: 40px;
    .card_maqola_1 {
      cursor: pointer;
      border-radius: 8px;
      width: 376px;
      height: 420px;
      background: #fff;
      box-shadow: 1px 10px 10px 5px rgba(0, 0, 0, 0.1);
      img {
        border-radius: 7px;
      }
      p {
        margin-left: 5px;
        margin-right: 5px;
        color: #414141;
        font-family: "Rubik", sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
      }
      h4 {
        margin-left: 5px;
        margin-right: 5px;
        color: #202020;
        font-family: "Rubik", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
      }
      h3 {
        margin-left: 5px;
        margin-right: 5px;
        color: #202020;
        font-family: "Rubik", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
      }
      .batafsil {
        margin-left: 100px;
        width: 150px;
        height: 40px;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        background: #e5ffde;
        color: #70c05b;
        font-family: "Rubik", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
      }
      .batafsil:hover {
        background: #70c05b;
        color: #fff;
      }
    }
    .card_maqola_1:hover {
      box-shadow: 1px 10px 10px 5px rgba(255, 102, 51, 0.2);
    }
  }
}

.footer {
  display: flex;
  margin-top: 80px;
  width: 100%;
  height: 126px;
  background-image: url(../images/bg_footer.png);
  background-repeat: no-repeat;
  background-size: 100%;
  .logo_footer {
    margin-left: 115px;
    margin-top: 34px;
    width: 64px;
    height: 44px;
  }
  ul {
    margin-top: 50px;
    margin-left: 40px;
    display: flex;
    list-style: none;
    column-gap: 40px;
    a {
      text-decoration: none;
      color: #414141;
      font-family: "Rubik", sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
    }
  }
}
