main{
    max-width: 1920px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FBF8EC;
    overflow: hidden;
    .card_list{
      width: 100%;
      height: 1150px;
      display: flex;
      align-items: center;
      justify-content: center;
      .container_main{
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        gap: 45px;
        .card_list_title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            // border: 1px solid;
            h2 {
            //   margin-top: -10px;
              color: #414141;
              font-family: "Rubik", sans-serif;
              font-size: 36px;
              font-style: normal;
              font-weight: 700;
              line-height: 150%;
            }
          }
          .card_lists {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            row-gap: 80px;
            .card {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                padding: 5px;
                width: 272px;
                height: 410px;
                border-radius: 10px;
                background: #fff;
                cursor: pointer;
                border-radius: 4px;
                background: #FFF;
                box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.10);
                transition: ease-in-out 350ms;
                img {
                    border-radius: 10px;
                    width: 272px;
                    height: 160px;
                }
              .scene {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 256px;
                p {
                  color: #414141;
                  font-family: "Rubik", sans-serif;
                  font-size: 18px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 150%;
                }
              }
              .karta {
                display: flex;
                width: 256px;
                justify-content: space-between;
                align-items: center;
                p {
                  color: #bfbfbf;
                  font-family: "Rubik", sans-serif;
                  font-size: 12px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 150%;
                }
              }
              h3 {
                color: #414141;
                font-family: "Rubik", sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                width: 256px;
              }
              .rating {
                margin-top: -10px;
                width: 256px;
                height: 16px;
              }
              .add {
                width: 256px;
                height: 40px;
                margin-top: 10px;
                margin-left: 8px;
                border-radius: 4px;
                border: 1px solid #70c05b;
                cursor: pointer;
                gap: 8px;
                color: #70c05b;
                font-family: "Rubik", sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
              }
              .korzina:hover {
                background: #f63;
                color: #fff;
                border: none;
              }
            }
            .card:hover {
                transform: scale(1.05);
                box-shadow: 1px 2px 8px 2px rgba(255, 102, 51, 0.2);
            }
          }
      }
    }
    .card_list2{
      display: none;
    }
    .admin{
      width: 300px;
      height: 330px;
      padding: 15px 5px;
      background: #fff;
      position: absolute;
      top: -50%;
      left: 79%;
      box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.332);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;
      transition: ease-in-out 450ms;
      z-index: 1;
      form{
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        input{
          width: 200px;
          height: 30px;
          padding: 0px 10px;
          outline: none;
          border: 2px solid #f63;
          font-size: 16px;
          font-weight: 500;
          border-radius: 8px;
        }
        button{
          width: 200px;
          height: 35px;
          border: none;
          border-radius: 8px;
          background: rgba(255, 102, 51, 0.432);
          font-size: 14px;
          font-weight: 600;
          cursor: pointer;
        }
      }
    }
    .admin2{
      top: 9%;
    }
  }
  .add_main{
    max-width: 1920px;
    height: 100vh;
    background: #FBF8EC;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .add_list{
    width: 100%;
    height: 1150px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 55px;
    display: flex;
    .add_list_inp{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 155px;
      border-bottom: 1px solid #e6dbad;
      width: 100%;
      height: 10%;
      form{
        display: flex;
        align-items: center;
        gap: 10px;
        label{
          margin-left: 85px;
          font-size: 22px;
          color: #414141;
          font-weight: 600;
        }
        input{
          border-radius: 6px;
          outline: none;
          border: none;
          padding: 5px 10px;
          font-size: 16px;
          box-shadow: 0px  0px 5px  0px #0000003d;
          width: 300px;
          height: 35px;
        }
        input::placeholder{
          font-style: italic;
        }
      }
      button{
        width: 150px;
        height: 35px;
        background: #70c05b;
        font-size: 16px;
        font-weight: 500;
        color: #FFF;
        border: none;
        border-radius: 6px;
        cursor: pointer;
      }
    }
    .box{
        width: 95%;
        height: 85%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 35px;
        .new_card{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            // align-items: center;
            padding: 5px;
            width: 272px;
            height: 410px;
            border-radius: 10px;
            background: #fff;
            cursor: pointer;
            border-radius: 4px;
            background: #FFF;
            box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.10);
            transition: ease-in-out 350ms;
            img {
                // border-radius: 10px;
                width: 272px;
                height: 160px;
            }
            h2{
                color: #414141;
                font-family: "Rubik", sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 150%;
            }
            button{
                width: 256px;
                height: 40px;
                margin-top: 10px;
                margin-left: 8px;
                border-radius: 4px;
                border: 1px solid #70c05b;
                cursor: pointer;
                gap: 8px;
                color: #70c05b;
                font-family: "Rubik", sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                :hover {
                    background: #f63;
                    color: #fff;
                    border: none;
                  }
            }
            p{
              font-size: 14px;
            }
        }
        .new_card:hover {
            transform: scale(1.05);
            box-shadow: 1px 2px 8px 2px rgba(255, 102, 51, 0.2);
        }
    }
}
.send{
  width: 80px;
  height: 80px;
  position: fixed;
  border: 0;
  border-radius: 50%;
  background: #f63;
  color: #FBF8EC;
  font-size: 16px;
  font-weight: 600;
  top: 632px;
  left: 1410px;
  box-shadow: 0px 0px 10px 1px #0000004b;
  transition: ease-in-out 450ms;
}
.send:hover{
  cursor: pointer;
  transform: scale(1.1);
}
.clear{
  width: 80px;
  height: 80px;
  position: fixed;
  border: 0;
  border-radius: 50%;
  background: #414141;
  color: #FBF8EC;
  font-size: 16px;
  font-weight: 600;
  top: 632px;
  left: 1310px;
  box-shadow: 0px 0px 10px 1px #0000004b;
  transition: ease-in-out 450ms;
}
.clear:hover{
  cursor: pointer;
  transform: scale(1.1);
}