.header {
    max-width: 1920px;
    height: 340px;
    margin: 0 auto;
    position: relative;
    nav{
      width: 100%;
      height: 70px;
      box-shadow: 0px 2px 10px #0000007c;
      background-color: #fff;
      z-index: 3;
      position: absolute;
      top: -2%;
      .nav__main{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        height: 100%;
        margin: 0 auto;
        img{
            width: 152px;
            height: 32px;
        }
        .nav_list {
            display: flex;
            height: 100%;
            align-items: center;
            gap: 15px;
            .menu {
                display: flex;
                width: 140px;
                padding: 8px;
                height: 40px;
                justify-content: center;
                align-items: center;
                gap: 8px;
                color: #FFF;
                text-align: center;
                font-family: Rubik;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                border-radius: 4px;
                border: none;
                cursor: pointer;
                background: #70C05B;
            }
            .input_search {
                padding-left: 10px;
                position: relative;
                width: 344px;
                height: 40px;
                border-radius: 4px;
                border: 1px solid #70c05b;
                outline: none;
                font-size: 18px;
                font-family: "Rubik", sans-serif;
            }
        }
        .nav_menu{
            display: flex;
            align-items: center;
            height: 100%;
            gap: 55px;
            a{
                text-decoration: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                color: black;
                font-weight: 400;
                
            }
            a:hover{
                filter: invert(74%) sepia(8%) saturate(2749%) hue-rotate(62deg) brightness(93%) contrast(80%);
            }
        }
        .admin_btn{
            background: none;
            border: none;
            font-size: 22px;
            cursor: pointer;
            :hover{
                color: #70C05B;
            }
        }
        .admin_btn2{
            color: #70C05B;
        }
    }
    }
    .header_hero {
      padding-top: 65px;
      display: flex;
      margin-top: 5px;
      width: 100%;
      height: 200px;
      background-image: url(../img/Group\ 7100.png);
      background-repeat: no-repeat;
      background-size: cover;
      align-items: center;
      justify-content: center;
    //   border: 1px solid;
      img{
        width: 302px;
        height: 202px;
      }
      h1 {
        color: #414141;
        text-align: center;
        font-family: "Rubik", sans-serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
      }
    }
}